// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    2000px;
$on-palm:          1500px;
$on-laptop:        2000px;
$on-medium:        2000px;
$on-large:         2000px;
